week2/cifar10_train.rec
week2/cifar10_val.rec
week1/derby.log
week1/metastore_db/
week2/resnet.pyc
week2/logs/
week2/models/
.npy
.idea/
YOLO/logs/
YOLO/DATA_rec/
*.pyc
*.params
*.zip
*.tar.gz
*.rec
*.idx
*.jpg
*.idl
.idea
*.json
